body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #22003f;
    color: white;
    overflow-x: hidden;
}

.lights {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

.light {
    position: absolute;
    width: 0;
    height: 0;
    border-radius: 50%;
    box-shadow: 0 0 120px 120px rgba(255, 255, 255, 0.5),
        0 0 180px 180px rgba(255, 255, 255, 0.4),
        0 0 240px 240px rgba(255, 255, 255, 0.3);
    animation: twinkle 5s infinite;
}

@keyframes twinkle {
    0%, 100% {
        opacity: 0.2;
    }
    50% {
        opacity: 0.4;
    }
}

.light:nth-child(1) {
    top: 20%;
    left: 30%;
    animation-duration: 3s;
}

.light:nth-child(2) {
    top: 40%;
    left: 60%;
    animation-duration: 4s;
}

.light:nth-child(3) {
    top: 70%;
    left: 50%;
    animation-duration: 5s;
}

.light:nth-child(4) {
    top: 80%;
    left: 20%;
    animation-duration: 6s;
}

.light:nth-child(5) {
    top: 25%;
    left: 85%;
    animation-duration: 5.5s;
}

.center-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    height: 100vh;
    z-index: 10;
    position: relative;
}

h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 3rem;
    margin-top: 4rem;
    margin-bottom: 3rem;
    text-align: center;
}

p {
    font-size: 1.2rem;
}

.profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    background-color: #22003f;
    position: relative;
    height: auto;
}

.profile-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    text-align: center;
    position: relative;
    flex-basis: calc(33.33% - 2rem); /* 3 items per row */
    max-width: calc(33.33% - 2rem);
}

.profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid white;
    object-fit: cover;
}

.profile p {
    margin-top: 0.5rem;
    font-size: 1rem;
    color: #ccc;
}

/* Estilos para a galeria de fotos */
.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    padding: 20px;
}

.gallery-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2rem;
}

.gallery-item {
    margin: 0.5rem;
    padding: 0.5rem;
    transition: transform 0.2s ease-out;
    flex-basis: calc(20% - 1rem);
    max-width: calc(20% - 1rem);
}

.gallery-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.226);
}

.gallery-item:hover {
    transform: scale(1.05);
}

/* Media queries para tornar o site responsivo */
@media (max-width: 1200px) {
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    p {
        font-size: 1rem;
    }

    .gallery-item {
        flex-basis: calc(25% - 1rem);
        max-width: calc(25% - 1rem);
    }

    .profile {
        flex-basis: calc(50% - 2rem);
        max-width: calc(50% - 2rem);
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    p {
        font-size: 0.9rem;
    }

    .gallery-row {
        flex-wrap: wrap;
        justify-content: center;
    }

    .gallery-item {
        flex-basis: calc(50% - 1rem); /* 2 items per row */
        max-width: calc(50% - 1rem);
    }

    .profile-section {
        flex-direction: column;
        align-items: center;
    }

    .profile-container {
        flex-direction: column;
        align-items: center;
    }

    .profile {
        width: 80%;
        max-width: 80%;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    p {
        font-size: 0.8rem;
    }

    .gallery-item {
        flex-basis: calc(50% - 1rem); /* 2 items per row */
        max-width: calc(50% - 1rem);
    }

    .profile {
        width: 100%;
        max-width: 100%;
    }
}
